{{define "body"}}

    <div id="blog-container">
        <div id="latest-post">
            <img src="/static/images/01.jpg" width="300" height="200">
            <a href="/blog{{ (index . 0).URL }}"><h1>{{ (index . 0).Title }}</h1></a>
            <p>{{ (index . 0).Date.Format "2006/01/06" }}</p>
        </div>
        
        <div id="popular-posts">
            <h2>What am I currently interested in outside of programming?</h2>
            <ul>
                <li>
                    <h3><em>Ensemble, c'est tout </em> de Anna Gavalda</h3>
                    <p>currently reading</p>
                </li>
                <li>
                    <h3>The Elder Scrolls V: Skyrim</h3>
                    <p>currently playing</p>
                </li>
                <li>
                    <h3>Persona 5</h3>
                    <p>currently playing</p>
                </li>
                <li>
                    <h3>Playing amateur baseball</h3>
                    <p>Oh so much fun</p>
                </li>
                <li>
                    <h3>Everyday fitness</h3>
                    <p>Kettlebells, clubs, and mace oh my!</p>
                </li>
            </ul>
        </div>
        
        <div id="recent-posts">
            <ul>
                <li>
                    <img src="/static/images/02.jpg" style="width:10rem;height:5rem;">
                    <a href="/blog{{ (index . 1).URL }}"><h3>{{ (index . 1).Title }}</h3></a>
                    <p>{{ (index . 1).Date.Format "2006/01/06" }}</p>
                </li>
                <li>
                    <img src="/static/images/03.jpg" style="width:10rem;height:5rem;">
                    <a href="/blog{{ (index . 2).URL }}"><h3>{{ (index . 2).Title }}</h3></a>
                    <p>{{ (index . 2).Date.Format "2006/01/06" }}</p>
                </li>
                <li>
                    <img src="/static/images/04.jpg" style="width:10rem;height:5rem;">
                    <a href="/blog{{ (index . 3).URL }}"><h3>{{ (index . 3).Title }}</h3></a>
                    <p>{{ (index . 3).Date.Format "2006/01/06" }}</p>
                </li>
                <li>
                    <img src="/static/images/05.jpg" style="width:10rem;height:5rem;">
                    <a href="/blog{{ (index . 4).URL }}"><h3>{{ (index . 4).Title }}</h3></a>
                    <p>{{ (index . 4).Date.Format "2006/01/06" }}</p>
                </li>
                <li>
                    <img src="/static/images/06.jpg" style="width:10rem;height:5rem;">
                    <a href="/blog{{ (index . 5).URL }}"><h3>{{ (index . 5).Title }}</h3></a>
                    <p>{{ (index . 5).Date.Format "2006/01/06" }}</p>
                </li>
            </ul>
        </div>
    </div>


{{end}}