<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Read the Bones</title>
</head>
<body>
    <div id="page-container">
        <header>
            <h1>Read the Bones</h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
            	    <li><a href="/blog">Blog</a></li>
	    	        <li><a href="/projects">Projects</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
                <form action="#">
                    <input type="text" name="search" value="">
                    <button type="submit">Search</button>
                </form>
            </nav>
        </header>
    
        <main>
            {{block "body" .}} {{ end }}
        </main>
    
        <footer>
            <p>&copy; 2025 Read the Bones</p>
        </footer>
    </div>
</body>
</html>
