{{ define "body" }}

    <h1>Things I've built</h1>

    <div id="project-container">
        <h2><a href="https://github.com/Bones1335/club_kettle">Club Kettle</a></h2>
            <p>Club Kettle is a workout API designed with Clubbells, Kettlebells, and Macebells in mind while staying simple to use.</p>

        <h2><a href="https://github.com/Bones1335/read-the-bones">Read the Bones (This website)</a></h2>
            <p>My personal website where I share what I feel like talking about as well as my various interests.</p>
    </div>
{{end}}
